<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_robot">
  <!-- Constants for robot dimensions -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="mass" value="10" /> <!-- arbitrary value for mass -->
  <xacro:property name="robot_body_width" value="1" /> <!-- Square dimensions (widthxwidth) of beams -->
  <xacro:property name="start_height" value="2" /> <!-- Square dimensions (widthxwidth) of beams -->
  <xacro:property name="leg_width" value="0.1" /> 
  <xacro:property name="robot_body_height" value="0.3" /> <!-- Link 1 -->
  <xacro:property name="leg_height" value="1" /> <!-- Link 2 -->
  <xacro:property name="axel_offset" value="0.05" /> <!-- Space btw top of beam and the each joint -->

  <material name="orange">
    <color rgba="1 0.6 0 1"/>
  </material>

</robot>